*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(./dragon.jpg);
    background-repeat: no-repeat;
    background-color: rgb(90, 101, 172);
    background-size: cover;}


img{
    height: 400px;
    width: 600px;
}
.first.card1{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    gap: 60px;
    font-size: larger;
    color: white;
}
h6{
    font-size: large;
    font-weight: bolder;
    color:rgb(57, 57, 184) ;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    background-color: rgb(57, 57, 184);
}
.cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    
}
.card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: turquoise;
    height: 200px;
    width: 300px;
    gap: 30px;
    /* text-align: left; */
    padding: 30px;
    border-radius: 5px;
    
    

}
.second{
    background-color: rgb(35, 35, 124);
    color: white;
}
